@{
    Layout = null;
}

<style>
    font-family: "Nunito", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
</style>
<h1>Đã có lỗi xảy ra khi thanh toán online</h1>
<a style="color:#4e73df;" href="/">← Trở lại Trang chủ</a>