@{
    Layout = null;
    ViewBag.Title = "Thanh Toán Online";
}
<style>
    
</style>
<h1>Thanh Toán Thành Công</h1>
<h4> Cảm Ơn Bạn đã mua hàng tại </h4><h4 style="color:#5a5c69"> ĐIỆN TỬ KIỆT</h4>
<a style="color:#4e73df;" href="/">← Trở lại Trang chủ</a>