@{
    /**/

    Layout = null;
    ViewBag.Title = "Thanh Toán Online";
}
<style>
    .center {
        position: absolute;
        top: 20%;
        left: 35%;
    }
</style>
<div class="center">
    <h1>Thanh Toán Thành Công</h1>
    <h4>
        Cảm Ơn Bạn đã mua hàng tại 
        <span style="color:#5a5c69"> ĐIỆN TỬ KIỆT</span>
    </h4>
    <a style="color:#4e73df; position:center" href="/">← Trở lại Trang chủ</a>

</div>