@{
    ViewBag.Title = "Chính sách bảo mật thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        font-family: GoogleSans, sans-serif !important;
        letter-spacing: 0 !important;
    }
</style>
<div class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="p-5">
                                    <div class="text">
                                        <h1 class="h4 text-gray-900 mb-4" style="font-weight:bold">CHÍNH SÁCH BẢO MẬT THANH TOÁN!</h1>
                                    <hr />
                                    </div>
                                    <div>
                                        <h4 style="font-weight:bold">1. Cam kết bảo mật</h4>
                                        <br />
                                        <p>
                                            Hệ thống thanh toán thẻ được cung cấp bởi các đối tác cổng thanh toán (“Đối Tác Cổng
                                            Thanh Toán”) đã được cấp phép hoạt động hợp pháp tại Việt Nam. Theo đó, các tiêu chuẩn
                                            bảo mật thanh toán thẻ tại "Điện Tử Kiệt" đảm bảo tuân thủ theo các tiêu chuẩn bảo mật ngành.
                                        </p>
                                        <br />
                                        <h4 style="font-weight:bold"> 2.  Quy định bảo mật</h4>
                                        <br />
                                        <p>
                                            - Chính sách giao dịch thanh toán bằng thẻ quốc tế và thẻ nội địa (internet banking) đảm
                                            bảo tuân thủ các tiêu chuẩn bảo mật của các Đối Tác Cổng Thanh Toán gồm:
                                            <br />
                                            • Thông tin tài chính của Khách hàng sẽ được bảo vệ trong suốt quá trình giao dịch
                                            bằng giao thức SSL (Secure Sockets Layer).
                                            <br />
                                            • Chứng nhận tiêu chuẩn bảo mật dữ liệu thông tin thanh toán (PCI DSS) do
                                            Trustwave cung cấp.
                                            <br />
                                            • Mật khẩu sử dụng một lần (OTP) được gửi qua SMS để đảm bảo việc truy cập tài
                                            khoản được xác thực.
                                            <br />
                                            • Tiêu chuẩn mã hóa MD5 128 bit.
                                            <br />
                                            • Các nguyên tắc và quy định bảo mật thông tin trong ngành tài chính ngân hàng theo
                                            quy định của Ngân hàng nhà nước Việt Nam.
                                            <br />
                                            - Chính sách bảo mật giao dịch trong thanh toán của "Điện tử Kiệt" áp dụng với Khách hàng:
                                            <br />
                                            • "Điện tử Kiệt" cung cấp tiện ích lưu giữ token - chỉ lưu chuỗi đã được mã hóa bởi Đối Tác
                                            Cổng Thanh Toán cung cấp cho "Điện tử Kiệt". "Điện tử Kiệt" không trực tiếp lưu trữ thông tin thẻ khách
                                            hàng. Việc bảo mật thông tin thẻ thanh toán Khách hàng được thực hiện bởi Đối Tác
                                            Cổng Thanh Toán đã được cấp phép.
                                            <br />
                                            • Đối với thẻ quốc tế: thông tin thẻ thanh toán của Khách hàng mà có khả năng sử
                                            dụng để xác lập giao dịch không được lưu trên hệ thống của "Điện tử Kiệt". Đối Tác Cổng
                                            Thanh Toán sẽ lưu trữ và bảo mật.
                                            <br />
                                            • Đối với thẻ nội địa (internet banking), "Điện tử Kiệt" chỉ lưu trữ mã đơn hàng, mã giao dịch và
                                            tên ngân hàng.
                                            <br />
                                            "Điện tử Kiệt" cam kết đảm bảo thực hiện nghiêm túc các biện pháp bảo mật cần thiết cho mọi hoạt động
                                            thanh toán thực hiện trên sàn giao dịch thương mại điện tử "Điện tử Kiệt".
                                        </p>
                                        <br />
                                        <h3 style="font-weight:bold">Trân trọng cảm ơn quý khách đã tin tưởng và mua sắm tại "ĐIỆN TỬ KIỆT"</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Bootstrap core JavaScript-->
<script src="~/Content/Policy/query.min.js"></script>
<script src="~/Content/Policy/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/Content/Policy/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/Content/Policy/sb-admin-2.min.js"></script>