@{
    ViewBag.Title = "Chính sách bảo mật thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        font-family: GoogleSans, sans-serif !important;
        letter-spacing: 0 !important;
    }
</style>
<div class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="p-5">
                                    <div class="text">
                                        <h1 class="h4 text-gray-900 mb-4" style="font-weight:bold">CHÍNH SÁCH BẢO MẬT THÔNG TIN CÁ NHÂN!</h1>
                                        <hr />
                                    </div>
                                    <div>
                                        <p>
                                            Chính Sách Bảo Mật Thông Tin Cá Nhân này bao gồm các nội dung:
                                            <br />
                                            1. Sự Chấp Thuận
                                            <br />
                                            2. Mục Đích Thu Thập
                                            <br />
                                            3. Phạm Vi Thu Thập
                                            <br />
                                            4. Thời Gian Lưu Trữ
                                            <br />
                                            5. Không Chia Sẻ Thông Tin Cá Nhân Khách Hàng
                                            <br />
                                            6. An Toàn Dữ Liệu
                                            <br />
                                            7. Quyền Của Khách Hàng Đối Với Thông Tin Cá Nhân
                                            <br />
                                            8. Thông Tin Liên Hệ
                                            <br />
                                            9. Đơn Vị Thu Thập và Quản Lý Thông Tin
                                            <br />
                                            10. Hiệu Lực
                                            <br />
                                            <h3 style="font-weight:bold">Trân trọng cảm ơn quý khách đã tin tưởng và mua sắm tại "ĐIỆN TỬ KIỆT"</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Bootstrap core JavaScript-->
<script src="~/Content/Policy/query.min.js"></script>
<script src="~/Content/Policy/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/Content/Policy/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/Content/Policy/sb-admin-2.min.js"></script>