@{
    ViewBag.Title = "Chính sách đổi trả";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    * {
        font-family: GoogleSans, sans-serif !important;
        letter-spacing: 0 !important;
    }
</style>
<div class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="p-5">
                                    <div class="text">
                                        <h1 class="h4 text-gray-900 mb-4" style="font-weight:bold">CHÍNH SÁCH ĐỔI TRẢ</h1>
                                        <br />
                                        <h4>Chính sách đổi trả "Điện tử Kiệt" ra đời với mong muốn mang đến cho khách hàng những trải nghiệm mua sắm tốt nhất, các sản phẩm của "Điện tử Kiệt" khi gửi đến khách hàng luôn được đảm bảo là hàng nguyên mới, chất lượng, đúng với thông tin mô tả và hình ảnh trên website.</h4>
                                        <hr />
                                    </div>
                                    <div>
                                        <h4 style="font-weight:bold">1. KHÁCH HÀNG ĐƯỢC ĐỔI SẢN PHẨM TRONG TRƯỜNG HỢP NÀO? </h4>
                                        <br />
                                        <p>
                                            Khách hàng được đổi sản phẩm sản phẩm khác khi nhận được sản phẩm không đúng với mô tả trên website, sản phẩm bị lỗi do nhà sản xuất, không vừa size hoặc chỉ đơn giản là không còn ưng ý với sản phẩm đã mua.
                                        </p>
                                        <br />
                                        <h4 style="font-weight:bold"> 2. CHÍNH SÁCH ĐỔI TRẢ CỦA "ĐIỆN TỬ KIỆT":</h4>
                                        <br />
                                        <p>
                                            Khách hàng có thể đổi sang sản phẩm khác 1 lần duy nhất và trong vòng 7 ngày kể từ thời điểm nhận hàng. Sản phẩm đổi cần phải đảm bảo những điều kiện sau đây:
                                            <br />
                                            <br />
                                            • Sản phẩm chưa qua sử dụng, không bị dơ bẩn.
                                            <br />
                                            <br />
                                            • Sản phẩm mới được chọn để đổi phải có giá trị bằng hoặc cao hơn giá trị sản phẩm đổi. Trường hợp sản phẩm được chọn để đổi có giá trị thấp hơn sản phẩm cần đổi, khách hàng sẽ không được hoàn lại tiền thừa.
                                            <br />
                                            <br />
                                            • Trường hợp sản phẩm cần đổi được đặt trong thời gian diễn ra chương trình khuyến mãi, quý khách vui lòng đổi sản phẩm trong thời gian diễn ra chương trình đê được áp dụng mức giá ưu đãi.
                                            <br />
                                            <br />
                                            <span style="color:red">•  Các sản phẩm ưu đãi từ 20% trở lên, sản phẩm đồng giá, phụ kiện, quà tặng trong chương trình khuyến mãi không áp dụng chính sách đổi hàng theo nhu cầu của khách hàng trừ trường hợp sản phẩm bị lỗi do nhà sản xuất. Do đó, khi nhận hàng quý khách vui lòng kiểm tra thật kỹ sản phẩm trước khi thanh toán.</span>
                                            <br />
                                        </p>
                                        <br />
                                        <h4 style="font-weight:bold"> 3. LÀM THẾ NÀO ĐỂ ĐỔI TRẢ SẢN PHẨM?</h4>
                                        <br />
                                        <p>
                                            Cách 1: Đổi trực tiếp tại cửa hàng:  Quý khách vui lòng mang sản phẩm kèm theo vận đơn và tin nhắn bảo hành (hoặc phiếu bảo hành) đến một trong những cửa hàng "Điện tử Kiệt" trong danh sách để được hỗ trợ đổi sản phẩm. Xem danh sách cửa hàng
                                            <br />
                                            <br />
                                            Cách 2: Đổi qua đường bưu điện: Đối với khách hàng ở các khu vực không có một trong những cửa hàng "Điện tử Kiệt" nêu trên hoặc sản phẩm quý khách muốn đổi không còn tại cửa hàng, quý khách vui lòng gửi sản phẩm, phụ kiện đi kèm, quà khuyến mãi (nếu có), kèm theo vận đơn và hóa đơn GTGT (nếu có) về một trong hai địa chỉ sau: 65-67 Chùa Bộc, Phường Trung Liệt, Quận Đống Đa, Hà Nội hoặc 189A Cống Quỳnh, Phường Nguyễn Cư Trinh, Quận 1, TP.HCM

                                            Sau khi nhận được sản phẩm, "Điện tử Kiệt" sẽ tiến hành kiểm tra sản phẩm theo quy định đổi sản phẩm (quá trình này mất khoảng từ 2 - 3 ngày). "Điện tử Kiệt" sẽ thông báo kết quả cho khách hàng qua điện thoại và tin nhắn sau khi việc kiểm tra hoàn tất.
                                            <br />
                                        </p>
                                        <h4 style="font-weight:bold"> 4. VỀ CHI PHÍ ĐỔI HÀNG?</h4>
                                        <br />
                                        <p>
                                            • "Điện tử Kiệt" miễn phí đổi hàng cho khách hàng khi mua sắm tại "Điện tử Kiệt" trong trường hợp sản phẩm bị lỗi sản xuất, bị trầy xước khi vận chuyển, giao nhầm.
                                            <br />
                                            <br />
                                            Tuy nhiên, trong trường hợp khách hàng muốn đổi sản phẩm vì lí do chủ quan như không thích màu…, khách hàng vui lòng thanh toán phí vận chuyển trong trường hợp sản phẩm cần chuyển về đổi tại kho của "Điện tử Kiệt".
                                            <br />
                                        </p>
                                        <br />
                                        <h3 style="font-weight:bold">Trân trọng cảm ơn quý khách đã tin tưởng và mua sắm tại "ĐIỆN TỬ KIỆT"</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Bootstrap core JavaScript-->
<script src="~/Content/Policy/query.min.js"></script>
<script src="~/Content/Policy/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/Content/Policy/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/Content/Policy/sb-admin-2.min.js"></script>