@{
    ViewBag.Title = "Chính sách giao nhận";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    * {
        font-family: GoogleSans, sans-serif !important;
        letter-spacing: 0 !important;
    }
</style>
<div class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="p-5">
                                    <div class="text">
                                        <h1 class="h4 text-gray-900 mb-4" style="font-weight:bold">CHÍNH SÁCH GIAO NHẬN</h1>
                                        <hr />
                                    </div>
                                    <div>
                                        <h4 style="font-weight:bold">
                                            1. Đối tượng áp dụng
                                        </h4>
                                        <br />
                                        <p>
                                            Chính sách giao nhận của "Điện tử Kiệt" chỉ áp dụng đối với các đối tượng khách hàng đặt mua sản phẩm của "Điện tử Kiệt" tại Online Shop.
                                        </p>
                                        <br />
                                        <h4 style="font-weight:bold">
                                            2. Phí vận chuyển & thời gian giao hàng
                                        </h4>
                                        <br />
                                        <p>
                                            <hr />
                                            <span style="font-weight:bold">
                                                Dịch vụ giao hàng tiêu chuẩn (GHTK)
                                            </span>
                                            <br />
                                            ✔ Thời gian giao hàng (tính từ thời điểm đơn hàng được xác nhận):
                                            <br />
                                            - Từ 2 - 3 ngày đối với đơn hàng được giao từ kho TP.HCM.
                                            <br />
                                            - Từ 4 - 6 ngày đối với đơn hàng được giao từ kho Hà Nội
                                            <br />
                                            <br />
                                            <span style="font-weight:bold">
                                                ✔
                                            </span> Phí vận chuyển:.
                                            <br />
                                            - Đối với đơn hàng giao từ kho TP.HCM:  từ 22.000đ (đối với khu vực nội thành & ngoại thành TP.HCM) & từ 35.000đ (đối với khu vực huyện xã thuộc TP.HCM)
                                            <br />
                                            - Đối với đơn hàng giao từ kho Hà Nội: từ 26.000đ
                                            <br /><br />
                                            <span style="font-weight:bold">
                                                ✔
                                            </span>Phí vận chuyển:
                                            <br />
                                            - Đối với đơn hàng giao từ kho TP.HCM:  từ 16.500đ (đối với khu vực nội thành & ngoại thành TP.HCM) & từ 24.000đ (đối với khu vực huyện xã thuộc TP.HCM)
                                            <br />
                                            - Đối với đơn hàng giao từ kho Hà Nội: từ 30.000đ
                                            <hr />
                                            <span style="font-weight:bold">
                                                Dịch vụ giao hàng hỏa tốc
                                            </span>
                                            <br />
                                            <span style="font-weight:bold">✔ </span> Thời gian giao hàng :
                                            <br />
                                            -  Đơn hàng đặt từ 0h - 16h  sẽ được giao trong 3 tiếng kể từ khi đơn hàng được xác nhận
                                            <br />
                                            - Đơn hàng đặt sau 16h sẽ được giao vào ngày hôm sau.
                                        </p>
                                        <br />
                                        <br />
                                        <h3 style="font-weight:bold">Trân trọng cảm ơn quý khách đã tin tưởng và mua sắm tại "ĐIỆN TỬ KIỆT"</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Bootstrap core JavaScript-->
<script src="~/Content/Policy/query.min.js"></script>
<script src="~/Content/Policy/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/Content/Policy/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/Content/Policy/sb-admin-2.min.js"></script>