@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success">
    Bạn vừa mua hàng thành công.
    <br />
    Cảm ơn bạn đã mua sắm tại "ĐIỆN TỬ KIỆT".
</div>
<a href="/san-pham">← Tiếp tục mua sắm</a>
<br />
<br />
<a href="/">← Về trang chủ</a>